{{define "head"}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>{{.}} | 윤원코인</title> <!-- explorer homeData 에 string타입이 하나이기 때문에 . 만써도 불러올수있다-->
</head>
{{end}}